* {
  padding: 0;
  margin:0;
}

html {
  background-color: rgb(12, 12, 12);
}

#header {
  background-color: black;
  padding: 2vw 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

#logo {
  font-family: 'Montserrat', sans-serif;
  color: #A259FF;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 10%;
  flex-shrink: 0; /* não deixa encolher */
}

.botoes a {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 10%;
  text-decoration: none;
  white-space: nowrap; /* evita quebra */
}

#pesquisa {
  background: transparent;
  border: none;
  font-size: 24px;
  color: #A259FF;
  cursor: pointer;
  flex-shrink: 0;
}

#loja {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#contato {
  position: absolute;
  left: 40%;
  transform: translateX(-40%);
}

#carrinho {
  position: absolute;
  left: 60%;
  transform: translateX(-60%);
}
